body {
    height: 100vh;
    background: url(/img/pozadina.jpg) no-repeat center center/cover;
    overflow: hidden;
    font-family: sans-serif;
}

.container {
    background: url(/img/kontejner.jpg) no-repeat center center/cover;
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 2px #c6c8db;
    border: 1px solid #c6c8db;
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 15% auto;              
}

.navbar ul li a {
    text-decoration: none;
    color: #c6c8db;
}

.logo{
    margin: 5rem 1rem 3rem 1rem;
    width: 80%;
}

.navbar {
    background: #2e4492;
    grid-row: 1/span2;
    border-top-right-radius: 90px;
}

.header {
    font-size: 1.3rem;
    margin-left: 5rem;
    padding-left: 3rem;
    border: 1px solid #c6c8db;
    border-bottom-left-radius: 40px;
    color: #2e4492;
}

.navbar ul {
    list-style: none;
    font-size: 1.2rem;
    padding: 1.3rem;
}

.navbar ul li {
    margin-bottom: 1rem;
}

.current {
    color: #ff6b37;
}

.main {
    justify-self: center;
    align-self: center;
    background-color: white;
    width: 85%;
    height: 85%;
    border: 1px solid #c6c8db;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.stanjeBlagajne table th {
    border-bottom: 3px solid #2e4492;
}


.stanjeBlagajne table td{
    border-bottom: 1px solid #2e4492;
}

.stanjeFunkcionalnost {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid #2e4492;
    border-radius: 30px;
}

.stanjeFunkcionalnost input {
    margin: 1rem;
    width: 20%;
    font-size: 1.5rem;
}

.gumb, .reset {
    display: inline-block;
    font-size: 1.5rem;
}

.gumb:hover {
    background-color: #4ca64c;
}

.reset{
    background-color: #ff4c4c;
}

.mainKupnja {
    justify-self: center;
    align-self: center;
    background-color: white;
    width: 85%;
    height: 85%;
    border: 1px solid #c6c8db;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    background: url(/img/money.jpg) no-repeat left center/cover;
}
 .mainKupnja input {
     font-size: 1.6rem;
     width: 145px;
     margin-bottom: 1rem;
 }

 .mainKupnja label {
     display: block;
 }

.mainKupnja select {
    font-size: 1.6rem;
    display: inline-block;
}

.kupi {
    font-size: 1.6rem;
    display: inline-block;
}

.tecajnaLista table tr th{
   color: #2e4492;
   font-size: 1.5rem;
   padding: 1rem;
}

#upisListe {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #2e4492;
}

#upisListe:hover {
    color: white;
    background-color: #2e4492;
}