body {
    height: 100vh;
    background: url(/img/pozadina.jpg) no-repeat center center/cover;
    overflow: hidden;
    font-family: sans-serif;
}

.container {
    background: url(/img/kontejner.jpg) no-repeat center center/cover;
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 2px #c6c8db;
    border: 1px solid #c6c8db;
    display: grid;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 17% auto;              
}

.navbar ul li a {
    text-decoration: none;
    color: #c6c8db;
}

.logo{
    margin: 5rem 1rem 3rem 1rem;
    width: 80%;
}

.navbar {
    background: #17349c;
    grid-row: 1/span2;
   
}

.header {
    font-size: 1.3rem;
    margin-left: 5rem;
    padding-left: 3rem;
    border: 2px solid #c6c8db;
    color: #2e4492;
}

.navbar ul {
    list-style: none;
    font-size: 1.2rem;
    padding: 1.3rem;
}

.navbar ul li {
    margin-bottom: 1rem;
}

.current {
    color: #ff6b37;
}

.main, .homePage,.mainStanje {
    justify-self: center;
    align-self: center;
    background-color: white;
    width: 85%;
    height: 85%;
    border: 2px solid #c6c8db;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.mainStanje {
    background: url(/img/zlatnici.jpg) no-repeat bottom center/cover;
}

.stanjeBlagajne table th {
    border-bottom: 3px solid #2e4492;
}

.stanjeFunkcionalnost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid #2e4492;
}

.stanjeFunkcionalnost input {
    margin: 1rem;
    width: 20%;
    font-size: 1.5rem;
}

.stanjeFunkcionalnost .reset {
    margin: 1rem;
}

.gumb, .reset {
    display: inline-block;
    font-size: 1.5rem;
}

.gumb:hover {
    background-color: #4ca64c;
}

.reset{
    background-color: #ff4c4c;
}

.mainKupnja {
    justify-self: center;
    align-self: center;
    background-color: white;
    width: 85%;
    height: 85%;
    border: 2px solid #c6c8db;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    background: url(/img/xs.jpg) no-repeat center center/cover;
}
 .mainKupnja input {
     font-size: 1.6rem;
     width: 200px;
     margin-bottom: 1rem;
 }

 .mainKupnja label {
     display: block;
 }

.mainKupnja select {
    font-size: 1.6rem;
    display: inline-block;
}

.kupi {
    margin-left: 20px;
    font-size: 1.8rem;
    display: inline-block;
}

.tecajnaLista table tr th{
   color: #2e4492;
   font-size: 1.5rem;
   padding: 1rem;
}

#upisListe {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #2e4492;
}

#upisListe:hover {
    color: white;
    background-color: #2e4492;
}

#kupnjaOutput, #prodajaOutput {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#razmjenaNovaca {
    width: 250px;
}

#upute {
    display: flex;
    font-size: 1.2rem;
    text-align: center;
}

#upute div {
    padding: 2rem;
}

.linkovi a{
    text-decoration: none;
}

.linkovi {
    padding: 1rem;
    font-size: 1.2rem;
}

.linkovi:hover {
    background-color: #efe5e6;
}

.trenutni {
    border-left: 10px solid #efe5e6;
    padding-left: 1rem;
}

