body {
    height: 100vh;
    background: url(/img/pozadina.jpg) no-repeat center center/cover;
    overflow: hidden;
}

.container {
    background: url(/img/kontejner.jpg) no-repeat center center/cover;
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 2px #c6c8db;
}